<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Billing Managment System</title>
    <style>
      h2 {
        text-align: center;
        align-items: center;
      }
      .login {
        padding: 10px;
        margin: 100px;
        border-style: dotted;
        align-items: center;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h2>Billing Managment System</h2>
    <div class="login">
      <form id="myform">
        <label for="name">Username</label>
        <br />
        <input type="text" name="name" required />
        <br />
        <label for="password">Password</label>
        <br />
        <input type="text" name="password" required />
        <br />
        <br />
        <input type="submit" value="Login" />
      </form>
    </div>
    <script src="../js.js" type="module"></script>
  </body>
</html>
