<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Menu</title>
  </head>
  <body>
    <h2>Main Menu</h2>
    <br />
    <nav>
      <a href="./comps/newBuyer.html">New Buyer</a>
      <a href="./comps/updateBuyer.html">Update Buyer</a>
      <a href="./comps/buyerDetails.html">Buyer Details</a>
      <a href="./comps/deleteBuyer.html">Delete Buyer</a>
      <a href="newProduct.html">New Product</a>
      <a href="updateProduct.html">Update Product</a>
      <a href="productDetails.html">Product Details</a>
      <a href="deleteProduct.html">Delete Product</a>
      <a href="billing.html">Billing</a>
      <a href="logout.html">New Buyer</a>
    </nav>
    <script src="../controllers/main.js" type="module"></script>
  </body>
</html>
