<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buyer Details</title>
  </head>
  <body>
    <h2>Buyer Details</h2>
    <br />
    <br />
    <span>Search:</span>
    <input type="text" id="search" />
    <button id="btn">Search</button>
    <button id="all">Get all</button>
    <br />
    <hr />
    <table id="table">
      <tr>
        <th>Name</th>
        <th>Surname</th>
      </tr>
    </table>
    <script src="../../controllers/buyerdetails.js" type="module"></script>
  </body>
</html>
