<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Buyer</title>
  </head>
  <body>
    <h2>Update Buyer</h2>
    <br />
    <span class="message">dsa</span>
    <br />
    <span>Search</span>
    <input type="text" id="search" />
    <button id="btn">Search</button>
    <hr />
    <div class="inps">
      <form id="form">
        <label for="name">Name</label>
        <br />
        <input type="text" name="name" />
        <br />
        <label for="surname">Surname</label>
        <br />
        <input type="text" name="surname" />
      </form>
      <br />
      <button id="save">Save</button>
      <button id="cancel">Cancel</button>
    </div>
  </body>
  <script src="../../controllers/updateBuyer.js" type="module"></script>
</html>
